<?xml version="1.0" encoding="UTF-8" ?>
<%@ Page language="c#" Codebehind="default.aspx.cs" AutoEventWireup="false" Inherits="web.club._default" %>
<%@ Register tagprefix="xhtml" Namespace="web.Tools" Assembly="web" %>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
  <head>
		<title> 
			<%=title%>
		</title>
		<link rel="stylesheet" href="../3g.css" type="text/css" />
		<meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
	<body>
			<marquee><%=marquee%></marquee>
			<Xhtml:XhtmlTable id="tbPreviews" Runat="server" CssClass="normal" cellspacing="2" cellpadding="2">
				<Xhtml:XhtmlTableRow id="rowPreviews" Runat="server" />
				<Xhtml:XhtmlTableRow id="rowPreviews2" Runat="server" />
				<Xhtml:XhtmlTableRow id="rowPreviews3" Runat="server" />
			</Xhtml:XhtmlTable>
			<Xhtml:XhtmlTable id="tbLinks" Runat="server" CssClass="normal" /><br>
	</body>
</html>
