﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="downloadOptions.aspx.cs" Inherits="xhtml_v7.muggins.downloadOptions" %>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
                    <title>Im&aacute;genes y Fondos</title>
  </head>
<body>
                    <a id="form" name="form" />
                    <Xhtml:XhtmlTable id="tbHeaderImg" Runat="server"  CssClass="normal"/>
                    <Xhtml:XhtmlTable id="tbContentTitle" Runat="server"  CssClass="normal"/>
                    <Xhtml:XhtmlTable id="tbContentThumb" Runat="server" CssClass="normal" CellSpacing="10"/>
                    <Xhtml:XhtmlTable id="tbContentButtonSub" Runat="server" CssClass="normal" CellSpacing="10"/>
                    <Xhtml:XhtmlTable id="tbContentPriceSub" Runat="server" CssClass="normal" CellSpacing="10"/>
                    <Xhtml:XhtmlTable id="tbContentPPDButton" Runat="server" CssClass="normal" CellSpacing="10"></Xhtml:XhtmlTable>
                    <Xhtml:XhtmlTable id="tbContentPricePPD" Runat="server" CssClass="normal" CellSpacing="10" />
                    	
</body>
</html>
