﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="downloadPageSubscribed.aspx.cs" Inherits="xhtml_v7.muggins.downloadPageSubscribed" %>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <a id="downloadPageClub" name="downloadPageClub" />
                     <Xhtml:XhtmlTable id="tbHeaderRow1" Runat="server" />
                     <Xhtml:XhtmlTable id="tbHeaderRow2" Runat="server" />
                     <Xhtml:XhtmlTable id="tbHeaderRow3" Runat="server" />
                      <table width="100%">
					 <tr>
					 <td width="50%" align="left">
					 <a href="#" onclick="gotoImage();">
					 <span><img  align="middle" src="<%=downloadButtonUrl%>"  alt="" /></span>
					 </a>
					 </td>
					 </tr>
					 </table>
	<script type="text/javascript">
function gotoImage()
{
       window.parent.location.href = "../download.aspx";
}

</script>			
                     <Xhtml:XhtmlTable id="tbAyudaButton" Runat="server" />
                     <Xhtml:XhtmlTable id="tbTermsButtons" Runat="server" />
                    <table width="100%">
					 <tr>
					 <td width="50%" align="left">
					 <a href="<%=goToHmPageUrl%>" target="_parent">
					 <span><img  align="middle" src="<%=goToHmPageSrc%>"  alt="" /></span>
					 </a>
					 </td>
					 </tr>
					 </table>
</body>
</html>
