﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="helpPage.aspx.cs" Inherits="xhtml_v7.muggins.helpPage" %>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
                    <title>Im&aacute;genes y Fondos</title>
                    <link rel="stylesheet" href="xhtml.css" type="text/css" />
                    <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
<body>
                    <a id="helpPage" name="helpPage" />
                    <div> 
				<img src="./Images/web/Publicidad_EmoWeb.gif" alt="publicidad"/> 
		        	</div>	
                    <Xhtml:XhtmlTable id="tbHeaderTitle" Runat="server" CssClass="normal" />
                     <Xhtml:XhtmlTable id="tbMiddleText" Runat="server" CssClass="normal" />
                     <Xhtml:XhtmlTable id="tbTerms" Runat="server" />
                     <Xhtml:XhtmlTable id="tbInicio" Runat="server"/>
                    	
</body>
</html>
