﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="downloadPageOptionsClub4.aspx.cs" Inherits="xhtml_v7.club.downloadPageOptionsClub4" %>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
                    <title>Im&aacute;genes y Fondos</title>
                    <link rel="stylesheet" href="xhtml.css" type="text/css" />
                    <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
<body>
                    <a id="contentPage" name="contentPage" />
                    <Xhtml:XhtmlTable id="tbHeaderImg" Runat="server" />
                    <Xhtml:XhtmlTable id="tbContentTitle" Runat="server"  />
                    <Xhtml:XhtmlTable id="tbContentThumb" Runat="server" CellSpacing="10"/>
                    <Xhtml:XhtmlTable id="tbContentButtonSub" Runat="server" CellSpacing="10"/>
                    <Xhtml:XhtmlTable id="tbContentPriceSub" Runat="server"  CellSpacing="10"/>
                    <Xhtml:XhtmlTable id="tbContentPPDButton" Runat="server"  CellSpacing="10"></Xhtml:XhtmlTable>
                    <Xhtml:XhtmlTable id="tbContentPricePPD" Runat="server" CellSpacing="10" />
                    	
</body>
</html>
