<?xml version="1.0" encoding="UTF-8" ?>
<%@ Page language="c#" Codebehind="download.aspx.cs" AutoEventWireup="false" Inherits="web.club099.download" %>
<%@ Register tagprefix="xhtml" Namespace="web.Tools" Assembly="web" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Im&aacute;genes y Fondos</title>
		<link rel="stylesheet" href="../3g.css" type="text/css" />
		<meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
	</head>
	<body>
			<Xhtml:XhtmlTable id="tbHeader" Runat="server" CssClass="normal" />
			<Xhtml:XhtmlTable id="tbContent" Runat="server" CssClass="normal" />
		</a>
	</body>
</html>
