<?xml version="1.0" encoding="UTF-8" ?>
<%@ Register tagprefix="xhtml" Namespace="web.Tools" Assembly="web" %>
<%@ Page language="c#" Codebehind="download.aspx.cs" AutoEventWireup="false" Inherits="web.download" %>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
  <head>
                    <title>Im&aacute;genes y Fondos</title>
                    <link rel="stylesheet" href="../3g.css" type="text/css" />
                    <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
          <body>
                    <Xhtml:XhtmlTable id="tbContent" Runat="server" CssClass="normal" />
                    <hr />
                    <table width="100%">
						<tr>
							<td align="center" class="LongCell"><a href="./catalog.aspx" style="color: #696969">Crear otro Avatar</a></td>
						</tr>
					</table>

		</body>
</html>
