body
{
	background-color: #FFFFFF;
	color: blue;
	font-family: verdana;
	font-size: x-small;
	text-align: left;
	padding: 0;
	border: 0;	
	margin: 0
}
input {
    font-size: xx-small;
    font-family: verdana;
    color: #000000
}
table.normal
{
	font-size: x-small;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left
}			
td.IMG
{
	font-size: x-small;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	padding: 0;
	margin: 0;
	font-family: verdana;
	font-weight: bold
}
td
{
	padding: 0
}
img
{
	padding: 0
}
a
{
	font-size: x-small;
	color: #434343
}
a.imagen
{
	font-size: x-small;
	color: blue
}
a:visited 
{
	font-size: x-small;
	color: #434343
}
a.IMG
{
	color: #434343;
	font-size: x-small
}
a.IMG2
{
	color: #434343;
	font-weight: bold;
	font-size: x-small
}
hr
{
          color: #434343;
          height: 1px          
}
select 
{
 	font-size: x-small;
	color: black
}