﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="clubtest.aspx.cs" Inherits="xhtml_v7.clubtest" %>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Im&aacute;genes y Fondos</title>
</head>
<body>
    <form id="formtest" runat="server">
     <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
    <div>
    
    </div>
     <table style="width:100%;">
        <tr>
          <td>
                &nbsp;</td>
            <td>
                &nbsp;<td>
                     &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
          <td>
                &nbsp;</td>
            <td>
                &nbsp;<td>
                     &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
          
            <td>
                <asp:Image ID="Image2club" runat="server" 
                    DescriptionUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel1club" runat="server">
                    <asp:Button ID="Button6club" runat="server" BackColor="#33CCFF" Text="descarga" 
                         style="height: 26px" Height="26px" onclick="Button6club_Click" />
                </asp:Panel>
            </td>
            <td>
                <asp:Image ID="Image1club" runat="server" Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel2club" runat="server">
                    <asp:Button ID="Button8club" runat="server" BackColor="#00CCFF" Text="descarga" onclick="Button8club_Click" 
                        />
                </asp:Panel>
            </td>
        </tr>
        
    </table>
     <table style="width:100%;">
        <tr>
          
            <td>
                <asp:Image ID="Image3club" runat="server" 
                    DescriptionUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel3club" runat="server">
                    <asp:Button ID="Button10club" runat="server" BackColor="#33CCFF" 
                        Text="descarga" onclick="Button10club_Click" 
                        />
                </asp:Panel>
            </td>
            <td>
                <asp:Image ID="Image4club" runat="server" Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel4club" runat="server">
                    <asp:Button ID="Button12club" runat="server" BackColor="#00CCFF" Text="descarga" 
                       style="height: 26px" onclick="Button12club_Click" />
                </asp:Panel>
            </td>
        </tr>
        
    </table>
     <table style="width:100%;">
        <tr>
          
            <td>
                <asp:Image ID="Image5club" runat="server" 
                    DescriptionUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel5club" runat="server">
                    <asp:Button ID="Button14club" runat="server" BackColor="#33CCFF" 
                        Text="descarga" onclick="Button14club_Click" 
                         />
                </asp:Panel>
            </td>
            <td>
                <asp:Image ID="Image6club" runat="server" Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel6" runat="server">
                    <asp:Button ID="Button16club" runat="server" BackColor="#00CCFF" 
                        Text="descarga" onclick="Button16club_Click" 
                        />
                </asp:Panel>
            </td>
        </tr>
        
    </table>
    </form>
    <table width="100%">
						<tr>
							<td align="center"><a href="" style="color: #696969">Ayuda & Términos y Condiciones</a></td>
						</tr>
					</table>
    </body>
</body>
</html>
