<?xml version="1.0" encoding="UTF-8" ?>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<%@ Page language="c#" Codebehind="default_t.aspx.cs" AutoEventWireup="false" Inherits="xhtml_v7.default_t" %>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
	<head>
		<% if (isIE) { %>
		<link rel="shortcut icon" href="kiwee.ico" /><% } %><title>Im&aacute;genes y Fondos</title><link rel="stylesheet" href="<%=css%>" type="text/css" /><meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" /></head><body><a id="start" name="start" />
		<div id="hd">
			<center><img src="<%=header%>" alt=""/></center><br />
			<a href="http://wap.movistar.com"><img src="<%=p1%>" alt="no_save"/></a><a href="http://LAVA___SERVER/portalServlet?globalID=121184&amp;catidStr=816&amp;ParentPage=801&amp;SelectedTab=0"><img src="<%=p2%>" alt="no_save" /></a><a href="http://mstore.movistar.es"><img src="<%=p6%>" alt="no_save" /></a><a href="http://LAVA___SERVER/portalServlet?globalID=162074&amp;catidStr=802&amp;ParentPage=801&amp;SelectedTab=2"><img src="<%=p4%>" alt="no_save" /></a>
		</div>
		<xhtml:XhtmlTable id="tbHeader" CssClass="normal" Runat="server" cellspacing="0" cellpadding="0" />
		<xhtml:XhtmlTable id="tbPub" CssClass="normal" Runat="server" cellspacing="0" cellpadding="0" />
		<div class="titular">AHORA EN IMAGENES</div>
		<table width="100%">
			<xhtml:XhtmlTableRow id="especiales1" runat="server" />
			<xhtml:XhtmlTableRow id="especiales2" runat="server" />
		</table>
		<div class="titular">DESTACADOS</div>
		<table width="100%">
			<xhtml:XhtmlTableRow Runat="server" ID="row1" />
			<xhtml:XhtmlTableRow Runat="server" ID="row2" />
		</table>
		
		<table width="100%" class="todas">
			<% if (!isMobile240) { %>
			
			<tr>
				<td height="50px" width="100%" colspan="2"><a href="./linkto.aspx?cg=COMPOSITE&amp;id=3619&amp;cl=1"><img src="<%=todas%>" alt="no_save"/></a></td>				
			</tr>
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=11036"><img src="<%=zvip%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=5862&amp;cg=COMPOSITE&amp;cl=1"><img src="<%=club%>" alt="no_save"/></a></td>
			</tr>
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=6579&amp;cg=COMPOSITE"><img src="<%=flash%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=11039"><img src="<%=avatar%>" alt="no_save"/></a></td>
			</tr>
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=5745&amp;cg=IMG&amp;cl=1"><img src="<%=fondos%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=7176&amp;cg=IMG"><img src="<%=amor%>" alt="no_save"/></a></td>
			</tr>
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=5748&amp;cg=IMG"><img src="<%=sexy%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=11016"><img src="<%=imagenexpaise%>" alt="no_save"/></a></td>
			</tr>
			<tr>
				<td height="50px" width="100%" colspan="2"><a href="./linkto.aspx?cg=COMPOSITE&amp;id=3619&amp;cl=1"><img src="<%=morecategorias%>" alt="no_save"/></a></td>				
			</tr>
			<% } else { %>
			<tr>
				<!--<td height="50px" width="50%" colspan="2"><a href="./linkto.aspx?id=11017"><img src="<%=valentine%>" alt="San Valentín"/></a></td>				
			</tr>
			<tr>-->
				<td height="50px" width="100%" colspan="2"><a href="./linkto.aspx?cg=COMPOSITE&amp;id=3619&amp;cl=1"><img src="<%=todas%>" alt="no_save"/></a></td>				
			</tr>
			<tr>
				<td height="50px" width="33%"><a href="./linkto.aspx?id=11036"><img src="<%=zvip%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=5862&amp;cg=COMPOSITE"><img src="<%=club%>" alt="no_save"/></a></td>
				<td height="50px" width="33%"><a href="./linkto.aspx?id=6579&amp;cg=COMPOSITE"><img src="<%=flash%>" alt="no_save"/></a></td>
			</tr>
			<tr>	
				<td><a href="./linkto.aspx?id=11039"><img src="<%=avatar%>" alt="no_save"/></a></td>
				<td height="50px" width="33%"><a href="./linkto.aspx?id=5745&amp;cg=IMG&amp;cl=1"><img src="<%=fondos%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=7176&amp;cg=IMG"><img src="<%=amor%>" alt="no_save"/></a></td>
			</tr>	
			<tr>
				<td height="50px" width="33%"><a href="./linkto.aspx?id=5748&amp;cg=IMG"><img src="<%=sexy%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=11016"><img src="<%=imagenexpaise%>" alt="no_save"/></a></td>
				<td height="50px" width="33%" colspan="2"><a href="./linkto.aspx?cg=COMPOSITE&amp;id=3619&amp;cl=1"><img src="<%=morecategorias%>" alt="no_save"/></a></td>				
			</tr>
			<% } %>
		</table>
		
		<div class="titular">DESCARGATE TUS</div>
		<table width="100%" class="todas">
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=5863&amp;cg=COMPOSITE"><img src="<%=anim%>" alt="no_save"/></a></td>
				<td ><a href="./linkto.aspx?id=5862&amp;cg=COMPOSITE"><img src="<%=videos%>" alt="no_save"/></a></td>
			</tr>
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=10096"><img src="<%=viptemas%>" alt="no_save"/></a></td>
				<td ><a href="./linkto.aspx?id=7311&amp;cg=COMPOSITE"><img src="<%=temas%>" alt="no_save"/></a></td>
				<!--<td class="links"><a href="./linkto.aspx?id=10001">Temas</a></td>-->
			</tr>
		</table>
		<div class="titular">FELICITACIONES</div>
		<table width="100%" class="todas">
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=10093"><img src="<%=zonavip%>" alt="no_save"/></a></td>
				<td ><a href="./linkto.aspx?id=10004"><img src="<%=fondodedi%>" alt="no_save"/></a></td>
			</tr>
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=10059"><img src="<%=postanim%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=10060"><img src="<%=videofelicit%>" alt="no_save"/></a></td>
			</tr>
		</table>
		<asp:Panel class="todas" id="moredescargate" runat="server" height="50px" />
		<form action="http://es.m.yahoo.com/r/mves/search/images" method="get">
			<img src="<%=yahoo%>" alt="" /> 
			<input type="text" style="vertical-align: Top; width:100px; align: Top;" name="p" value=""/>
			<input type="hidden" name="stype" value="mmp" /> 
			<input type="hidden" name="subcat" value="all" />
			<input type="image" name="searcher" src="Images/buscar2.gif" value="Buscar" /> 
		</form>
		<div class="titular">AHORA EN IMAGENES</div>
		<table width="100%" class="todas">
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=18"><img src="<%=disney%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=33"><img src="<%=disenalogos%>" alt="no_save"/></a></td>
			</tr>
		</table>
		<asp:Panel class="todas" id="moreportales" runat="server" height="50px" />
		<div class="titular">APUNTATE GRATIS</div>
		<div class="texthome"><b>Prueba tus alertas de Im&aacute;genes GRATIS el primer mes.</b></div>
		<table width="100%" class="todas">
			<tr>
				<td height="50px" width="50%"><a href="./linkto.aspx?id=28"><img src="<%=alertasamor%>" alt="no_save"/></a></td>
				<td><a href="./linkto.aspx?id=29"><img src="<%=alertasnew%>" alt="no_save"/></a></td>
			</tr>
		</table>
		<asp:Panel class="todas" id="morealertas" runat="server" height="50px" />
		<table width="100%">
			<tr>
				<td align="center"><a href="http://wap.movistar.com/descargas/?ID=210" style="COLOR: #696969">M&uacute;sica 
						y Tonos</a> | <a href="http://wap.movistar.com/descargas/?ID=11" style="COLOR: #696969">
						Juegos</a>
				</td>
			</tr>
			<tr>
				<td align="center"><a href="http://wap.movistar.com/descargas/?ID=24" style="COLOR: #696969">Yavoy</a>
					| <a href="http://wap.movistar.com/descargas/?ID=224" style="COLOR: #696969">
						Humor</a>
				</td>
			</tr>
		</table>
	</body>
</html>
