﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="download3.aspx.cs" Inherits="xhtml_v7.download3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form13120test" runat="server">
    <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
    <div>
    
    </div>
    <div style="text-align:center; width: 100%">
<asp:Panel runat="server" ID="MyCenteredPanel5120test" BackColor="Red" BorderColor="Black" BorderStyle="Groove">
    Para accedere los contenidos de xxx , suscribete ahora por solo xx,xx/semana IVA incl.<br />
    <asp:Button ID="Button112110test" runat="server" Text="OK" 
         />
        </asp:Panel>
</div>
    </form>
    <table width="100%">
						<tr>
							<td align="center"><a href="" style="color: #696969">Ayuda & Términos y Condiciones</a></td>
						</tr>
					</table>
    </body>
</html>
