﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="download2.aspx.cs" Inherits="xhtml_v7.download2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form13120" runat="server">
    <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
    <div>
    
    </div>
    <div style="text-align:center; width: 100%">
<asp:Panel runat="server" ID="MyCenteredPanel5120" BackColor="GreenYellow" BorderColor="Black" BorderStyle="Groove">
    Para accedere a los mejores contenidos de xxx , suscribete ahora por solo xx,xx/semana IVA incl.<br />
    <asp:Button ID="Button112110" runat="server" Text="OK" 
        onclick="Button112110_Click"  />
        </asp:Panel>
</div>
    </form>
    <table width="100%">
						<tr>
							<td align="center"><a href="" style="color: #696969">Ayuda & Términos y Condiciones</a></td>
						</tr>
					</table>
    </body>
</html>
