﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="payperdownload2.aspx.cs" Inherits="xhtml_v7.payperdownload2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form123" runat="server">
    <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
    <div>
    
    </div>
    <div style="text-align:center; width: 100%">
<asp:Panel runat="server" ID="MyCenteredPanel23" BackColor="AliceBlue">
    &nbsp;Opciones de Imagen<br />
    <asp:Panel ID="Panel123" runat="server">
        <asp:Button ID="Button112" runat="server" Text="Salvar imagen en tu galeria" />
    </asp:Panel>
    <asp:Panel ID="Panel23" runat="server">
        <asp:Button ID="Button123" runat="server" Text="Enviar Imagen Por Correo" />
    </asp:Panel>
    <asp:Button ID="Button103" runat="server" Text="Compartir la Imagen" />
        </asp:Panel>
</div>
<table width="100%">
						<tr>
							<td align="center"><a href="" style="color: #696969">Ayuda & Términos y Condiciones</a></td>
						</tr>
					</table>
    </form>
    </body>
</html>
