﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="savecontent.aspx.cs" Inherits="xhtml_v7.savecontent" %>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
                    <title>Im&aacute;genes y Fondos</title>
                    <link rel="stylesheet" href="xhtml.css" type="text/css" />
                    <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
<body>
                    <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
                    <a id="savecontent" name="savecontent" />
                    <Xhtml:XhtmlTable id="tbHeaderSave" Runat="server" CssClass="normal" />
                    <Xhtml:XhtmlTable id="tbContentSave" Runat="server" CssClass="normal" />
                    <hr />
                   
					
					<table width="100%" class="">
			<tr>
				<td height="50px" align="center" width="50%"><a href=""><img src="<%=salvar%>" alt=""/></a></td>
				</tr>
				<tr>
				<td height="50px" align="center" width="50%"><a href=""><img src="<%=enviar%>" alt=""/></a></td>
				</tr>
				<tr>
				<td height="50px" align="center" width="50%"><a href=""><img src="<%=compartir%>" alt=""/></a></td>
				
			</tr>
			</table>
			
		<table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
				
		</body>

</html>
