﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Subscripcion2.aspx.cs" Inherits="xhtml_v7.Subscripcion2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form12" runat="server">
     <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
    <div>
    
    </div>
    <div style="text-align:center; width: 100%">
<asp:Panel runat="server" ID="MyCenteredPanel2" BackColor="GreenYellow">
    &nbsp;Opciones de Imagen<br />
    <asp:Panel ID="Panel1" runat="server">
        <asp:Button ID="Button11" runat="server" Text="Salvar imagen en tu galeria" />
    </asp:Panel>
    <asp:Panel ID="Panel2" runat="server">
        <asp:Button ID="Button12" runat="server" Text="Enviar Imagen Por Correo" />
    </asp:Panel>
    <asp:Button ID="Button10" runat="server" Text="Compartir la Imagen" />
        </asp:Panel>
</div>
    </form>
    <table width="100%">
						<tr>
							<td align="center"><a href="" style="color: #696969">Ayuda & Términos y Condiciones</a></td>
						</tr>
					</table>
    </body>
</html>
