﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Subscripcion.aspx.cs" Inherits="xhtml_v7.Subscripcion" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
     <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
    <div>
    
    </div>
    <div style="text-align:center; width: 100%">
<asp:Panel runat="server" ID="MyCenteredPanel" BackColor="GreenYellow">
    Gracias por Subscribirte al Canal XXXX. A partir de ahora disfutra de todos tus 
fondos por XXX/Mes. Ahora sólo tienes que pinchar en el contenido y dar a Salvar<br />
    <asp:Button ID="Button1" runat="server" Text="OK" onclick="Button1_Click" />
        </asp:Panel>
</div>
    </form>
    <table width="100%">
						<tr>
							<td align="center"><a href="" style="color: #696969">Ayuda & Términos y Condiciones</a></td>
						</tr>
					</table>
    </body>
</html>
