﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SubscribtionScreen.aspx.cs" Inherits="xhtml_v7.SubscribtionScreen" %>
<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
                    <title>Im&aacute;genes y Fondos</title>
                    <link rel="stylesheet" href="xhtml.css" type="text/css" />
                    <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
<body>
                    <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
                    <a id="startpage" name="startpage" />
                    <Xhtml:XhtmlTable id="tbHeaderImage" Runat="server" CssClass="normal" />
                    <Xhtml:XhtmlTable id="tbContentImage" Runat="server" CssClass="normal" />
                    <hr />
                   
					
					<table width="100%" class="">
			<tr>
				<td height="50px" align="center" width="50%"><a href='<%=checkCall()%>' ><img src="<%=accept%>"  alt=""/></a></td>
				<td  align="center"><a href="./default_w.aspx"><img src="<%=cancel%>" alt=""/></a></td>
			</tr>
			
		</table>
		 
		      
		</body>

</html>
