﻿<%@ Register tagprefix="xhtml" Namespace="xhtml_v7.Tools" Assembly="xhtml_v7" %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test_default.aspx.cs" Inherits="xhtml_v7.test_default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
		<title>Im&aacute;genes y Fondos</title>
	</head>
<body>
    <form id="form1" runat="server">
     <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
    <div>
    
    </div>
    <table style="width:100%;">
        <tr>
          <td>
                &nbsp;</td>
            <td>
                &nbsp;<td>
                &nbsp;</td>
            <td>
                <asp:Button ID="Button1" runat="server" Height="74px" Text="CLUB MUGGINS" 
                    Width="129px" onclick="Button1_Click" />
            </td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
          
            <td>
                <asp:Image ID="Image2" runat="server" 
                    DescriptionUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel1" runat="server">
                    <asp:Button ID="Button5" runat="server" Text="subscrip" BackColor="#00CC00" 
                        onclick="Button5_Click" style="height: 26px" />
                    <asp:Button ID="Button6" runat="server" BackColor="#33CCFF" Text="payperd" 
                        onclick="Button6_Click" />
                </asp:Panel>
            </td>
            <td>
                <asp:Image ID="Image1" runat="server" Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel2" runat="server">
                    <asp:Button ID="Button7" runat="server" Text="subscrip" BackColor="Lime" 
                        onclick="Button7_Click" />
                    <asp:Button ID="Button8" runat="server" BackColor="#00CCFF" Text="payperd" 
                        onclick="Button8_Click" />
                </asp:Panel>
            </td>
        </tr>
        
    </table>
     <table style="width:100%;">
        <tr>
          
            <td>
                <asp:Image ID="Image3" runat="server" 
                    DescriptionUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel3" runat="server">
                    <asp:Button ID="Button9" runat="server" Text="subscrip" BackColor="#00CC00" 
                        onclick="Button9_Click" />
                    <asp:Button ID="Button10" runat="server" BackColor="#33CCFF" Text="payperd" 
                        onclick="Button10_Click" />
                </asp:Panel>
            </td>
            <td>
                <asp:Image ID="Image4" runat="server" Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel4" runat="server">
                    <asp:Button ID="Button11" runat="server" Text="subscrip" BackColor="Lime" 
                        onclick="Button11_Click" />
                    <asp:Button ID="Button12" runat="server" BackColor="#00CCFF" Text="payperd" 
                        onclick="Button12_Click" style="height: 26px" />
                </asp:Panel>
            </td>
        </tr>
        
    </table>
     <table style="width:100%;">
        <tr>
          
            <td>
                <asp:Image ID="Image5" runat="server" 
                    DescriptionUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel5" runat="server">
                    <asp:Button ID="Button13" runat="server" Text="subscrip" BackColor="#00CC00" 
                        onclick="Button13_Click" />
                    <asp:Button ID="Button14" runat="server" BackColor="#33CCFF" Text="payperd" 
                        onclick="Button14_Click" style="height: 26px" />
                </asp:Panel>
            </td>
            <td>
                <asp:Image ID="Image6" runat="server" Height="86px" 
                    ImageUrl="http://content.k-mobile.com/V2/DATA/IMG/B/BGR3_08_AG_WP307/PREVIEW/GIF/BGR3_08_AG_WP307.GIF_PREVIEW_IMODE.2.gif" 
                    Width="141px" />
                <asp:Panel ID="Panel6" runat="server">
                    <asp:Button ID="Button15" runat="server" Text="subscrip" BackColor="Lime" 
                        onclick="Button15_Click" />
                    <asp:Button ID="Button16" runat="server" BackColor="#00CCFF" Text="payperd" 
                        onclick="Button16_Click" />
                </asp:Panel>
            </td>
        </tr>
        
    </table>
    </form>
    <table width="100%">
						<tr>
							<td align="center"><a href="" style="color: #696969">Ayuda & Términos y Condiciones</a></td>
						</tr>
					</table>
    </body>
</html>
