<%@ Page language="c#" Codebehind="step1.aspx.cs" Inherits="wap.muggins.step1" AutoEventWireup="false" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<body Xmlns:mobile="http://schemas.microsoft.com/Mobile/WebForm">
	<mobile:form id="frmDefault" runat="server" EnableViewState="false" Action="step2.aspx" Method="Post"
		Title="Crea tu AVATAR">
<mobile:Panel id="pnlPreview" runat="server">
			<mobile:Image id="imgLogo" Runat="server" Alignment="Center"></mobile:Image>
		</mobile:Panel>Sexo: 
<mobile:SelectionList id="sex" Runat="server">
			<Item Text="chica" Value="girl" />
			<Item Text="chico" Value="boy" />
		</mobile:SelectionList><BR>Color de piel: 
<mobile:SelectionList id="skin" Runat="server">
			<Item Text="blanco" Value="white" />
			<Item Text="moreno" Value="mulato" />
			<Item Text="negro" Value="black" />
		</mobile:SelectionList><BR>Ojos: 
<mobile:SelectionList id="eyes" Runat="server">
			<Item Text="azul" Value="blue" />
			<Item Text="marr&oacute;n" Value="brown" />
			<Item Text="marr&oacute;n claro" Value="lbrown" />
			<Item Text="verde" Value="green" />
		</mobile:SelectionList><BR>
<mobile:Command id="Command1" Runat="server">Siguiente paso</mobile:Command>
<mobile:Panel id="pnlText" runat="server"></mobile:Panel>
	</mobile:form>
</body>
