body
{
	background-color: #ffffff;
	color:#1b1b71; 
	font-family:Tahoma, verdana, sans-serif; 
	font-size:0.65em; 
	text-align: left;
	padding: 0;
	border: 0;	
	margin: 0
}
input 
{
	font-family:Tahoma, verdana, sans-serif; 
	font-size: x-small;
	-wap-input-format: "*m"
}
#my_input {
    border-style:solid;
    border-width:1px;
    border-color: #bebebe;
    font-size: x-small;
	font-family:Tahoma, verdana, sans-serif; 
    color: #000000;
    font: normal
}
table.normal
{
	font-family:Tahoma, verdana, sans-serif; 	
	font-size: x-small;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left
}			
td.IMG
{
	font-size: x-small;
	text-align: center;
	background-color: #FFFFFF;
	color:#1b1b71; 
	padding: 0;
	margin: 0;
	font-family:Tahoma, verdana, sans-serif; 
	font-weight: bold
}
td
{
		font-family:Tahoma, verdana, sans-serif; 
		color:#1b1b71; 
		font-size: x-small;
		padding: 0
}
img
{
	padding: 0
}
a
{
	font-size: x-small;
	color: #1b1b71
}
a.imagen
{
	font-size: x-small;
	color: #ff9900
}
a:visited 
{
	font-size: x-small;
	color: #1b1b71
}
a.IMG
{
	color: #1b1b71;
	font-size: x-small
}
a.IMG2
{
	color: #1b1b71;
	font-weight: bold;
	font-size: x-small
}
hr
{
	margin-bottom:4px; 
	background: #8585b9; 
	height:0.1em; 
	border:none       
}
select 
{
 	font-size: x-small;
	color: black
}
#hd2 {
    background: #191978;
    border-top: 1px solid #5ca8f6;
    overflow-y: hidden;
    overflow-x: visible;
    clear: left
}
#hd{background: #191978; border-top:1px solid #5ca8f6; padding:5px 6px 0 6px; overflow-y:hidden; overflow-x:visible; clear: left} 

#hd img a{margin: 0; padding: 0; border: 0}

#hd img{border:none; vertical-align:top} 

#nv{ background:#cde4fd; padding:2px 0; clear: both; overflow: hidden;} 

#nv img {
    border: none
}

input.caja
{
	width:85px
} 


#ft
{
	text-align:center
} 

#ft hr
{
	margin-bottom:4px; 
	background: #8585b9; 
	height:0.1em; 
	border:none
}