body
{
	background-color: #FFFFFF;
	color:#1b1b71; 
	font-family:Tahoma, verdana, sans-serif; 
	font-size: large;
	text-align: left;
	padding: 0px;
	margin: 0px;
}
a
{
	font-size: large;
	color: #ffffff
}
a.imagen
{
	font-size: large;
	color: #ffffff
}
a:visited 
{
	font-size: large;
	color: #ffffff
}
a.IMG
{
	color: #ffffff;
	font-size: large
}
a.IMG2
{
	color: #ffffff;
	font-weight: bold;
	font-size: large
}
.texthome {color:#1b1b71; font-family:Tahoma, verdana, sans-serif; font-size:large}

.titular {color:#fff; font-family:Tahoma, verdana, sans-serif; font-size:x-large; background-color:#025192;text-align:center}
.todas {color:#fff; font-family:Tahoma, verdana, sans-serif; font-size:x-large; background-color:#ffffff;text-align:center}
.gamelist						{background-color:#ffffff;text-align:right}
.gamelist a						{font-weight: bold; text-decoration:none; display:block; background-color:#d0d0d0; border:2px outset #434343;}
.gamelist .byglist .byglist			{background-color:#00e5e5;text-align:left;}
.gamelist .byglist .byglist a		{background-color:#00e5e5;}
.gamelist .datapager				{text-align:right}
.gamelist .datapager a			{}
.gamelist .grid					{}
.gamelist .grid a					{display:block; padding:3px; font-size:large; min-heigt:180px; text-decoration:none;}
.gamelist .grid a:hover{background-color:#aaaaaa;}
.gamelist .grid .buy a				{}
.gamelist .minimal				{text-align:left}
.gamelist .minimal a				{background-color:#025192;color:#fff;display:block; min-height:20px;padding:6px 0px 2px 0px;border-top:1px solid #fff; text-decoration:none;}
.gamelist .minimal a:hover {background-color:#1362a3;color:#fff;}
.gamelist .minimal .row			{text-align:left}
.gamelist .minimal .row	a		{}
.gamelist .minimal .cell			{text-align: center}
.gamelist .minimal .cell	a		{}
.gamelist .minimal .rowalt			{text-align:left}
.gamelist .minimal .rowalt a		{}
.gamelist .minimal .buy a			{}
.gamelist .preview				{text-align:left}
.gamelist .preview a				{display:block; min-height:20px; text-decoration:none;}
.gamelist .preview a:hover		{}
.gamelist .preview .row			{text-align:left}
.gamelist .preview .row	a		{}
.cell			{text-align: center}
.cell	a		{}
.gamelist .preview .rowalt			{text-align:left}
.gamelist .preview .rowalt a		{}
.gamelist .preview .buy a			{}
.gamelist .standard				{text-align:left}
.gamelist .standard a				{display:block; padding:3px; font-size:large; min-heigt:180px; text-decoration:none;}
.gamelist .standard .row			{}
.gamelist .standard .row	a		{}
.gamelist .standard .rowalt			{}
.gamelist .standard .rowalt a		{}
.gamelist .standard .buy a			{}
.left .gamelist					{text-align:left}

.categories						{background-color:#ffffff;}
.categories	.icon				{}
.categories	a					{display:block; padding:3px; text-decoration:none;border-bottom:1px solid #000;}
.categories	a:hover				{background-color:#aaaaaa;}
.categories	.row				{}
.categories	.row a				{}
.categories	.rowalt				{}
.categories	.rowalt a			{}

.links						{background-color:#005c84; text-align: center; color: #ffffff}
.links	a					{display:block; padding:3px; text-decoration:none;border-bottom:0px #000; color: #ffffff}
.links	a:hover				{background-color:#007a9e;color: #ffffff}
.links2						{background-color:#00c6d7; text-align: center;color: #ffffff}
.links2	a					{display:block; padding:3px; text-decoration:none;border-bottom:0px #000;color: #ffffff}
.links2	a:hover				{background-color:#007a9e;color: #ffffff}

.morecategories						{background-color:#005c84;text-align:center; color: #fff;}
.morecategories	.icon				{}
.morecategories	a					{display:block; padding:3px; text-decoration:none;border-bottom:1px solid #000; color: #fff;}
.morecategories	a:hover				{background-color:#007a9e;}
.morecategories	.row				{}
.morecategories	.row a				{}
.morecategories	.rowalt				{}
.morecategories	.rowalt a			{}

input 
{
	font-family:Tahoma, verdana, sans-serif; 
	font-size: large;
	-wap-input-format: "*m"
}
#my_input {
    border-style:solid;
    border-width:1px;
    border-color: #bebebe;
    font-size: large;
	font-family:Tahoma, verdana, sans-serif; 
    color: #000000;
    font: normal
}
table.normal
{
	font-family:Tahoma, verdana, sans-serif; 	
	font-size: large;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left
}			
td.IMG
{
	font-size: large;
	text-align: center;
	background-color: #FFFFFF;
	color:#1b1b71; 
	padding: 0;
	margin: 0;
	font-family:Tahoma, verdana, sans-serif; 
	font-weight: bold
}
td
{
		font-family:Tahoma, verdana, sans-serif; 
		color:#000000; 
		font-size: large;
		padding: 0
}
img
{
	padding: 0;
	border: 0
}
hr
{
	margin-bottom:4px; 
	background: #8585b9; 
	height:0.1em; 
	border:none       
}
select 
{
 	font-size: large;
	color: black
}
#hd2 {
    background: #191978;
    border-top: 1px solid #5ca8f6;
    overflow-y: hidden;
    overflow-x: visible;
    clear: left
}
#hd{background: #191978; border-top:1px solid #5ca8f6; padding:5px 6px 0 6px; overflow-y:hidden; overflow-x:visible; clear: left} 

#hd img a{margin: 0; padding: 0; border: 0}

#hd img{border:none; vertical-align:top} 

#nv{ background:#cde4fd; padding:2px 0; clear: both; overflow: hidden;} 

#nv img {
    border: none
}

input.caja
{
	width:85px
} 


#ft
{
	text-align:center
} 

#ft hr
{
	margin-bottom:4px; 
	background: #8585b9; 
	height:0.1em; 
	border:none
}