<?xml version="1.0" encoding="UTF-8" ?>
<%@ Register tagprefix="xhtml" Namespace="web.Tools" Assembly="web" %>
<%@ Page language="c#" Codebehind="alertas.aspx.cs" AutoEventWireup="false" Inherits="web.alertas" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
                    <title>Im&aacute;genes y Fondos</title>
                    <link rel="stylesheet" href="<%=css%>" type="text/css" />
                    <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
          <body>
					<Xhtml:XhtmlTable id="tbAlertas" Runat="server" CssClass="normal" />
					
					<hr />
                   <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>
					
				
          </body>
</html>
