html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;-webkit-text-size-adjust:none;overflow-y:scroll}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}img{vertical-align:top}

article 
{
	display:inline-block; 
	vertical-align:middle; 
	height:50px; 
	line-height:30px;
	color:White;
	font-family:Tahoma, verdana, sans-serif; 	
	font-size: small;
	}

/* Demo */
.swipeOption,
.wmuGallery {
    margin: 20px 0;
}

/* mwuSlider */
.swipeOption {
    position: relative;
    overflow: hidden;
	height:50px;
}
 .swipeOptionWrapper {
}
.swipeOption .swipeOptionWrapper article {
    position: relative;
    text-align: center;
}
.swipeOption .swipeOptionWrapper article img {
	display:inline-block;
	vertical-align:middle;
}

/* mwuGallery */
.wmuGallery .wmuGalleryImage {
    position: relative;
    text-align: center;
}
.wmuGallery .wmuGalleryImage img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* Default Skin */
.wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
}

.swipeOptionPagination {
	display:none;
}
iframe#teleifr { margin:0 auto; display:block;}