<?xml version="1.0" encoding="UTF-8" ?>
<%@ Register tagprefix="xhtml" Namespace="web.Tools" Assembly="web" %>
<%@ Page language="c#" Codebehind="muggins.aspx.cs" AutoEventWireup="false" Inherits="web.avatars" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
                    <title>Im&aacute;genes y Fondos</title>
                    <link rel="stylesheet" href="3g.css" type="text/css" />
                    <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
          <body>
                    <Xhtml:XhtmlTable id="tbHeader" Runat="server" CssClass="normal" />
					<Xhtml:XhtmlTable id="tbTitle" Runat="server" CssClass="normal" cellspacing="2" cellpadding="2">
						<Xhtml:XhtmlTableRow id="rowPreviews1" Runat="server" />
						<Xhtml:XhtmlTableRow id="rowPreviews2" Runat="server" />
					</Xhtml:XhtmlTable>
					<Xhtml:XhtmlTable id="tbPreviews" Runat="server" CssClass="normal" >
						<Xhtml:XhtmlTableRow id="rowPreviews" Runat="server" />		
					</Xhtml:XhtmlTable>
                    <hr />
		</body>
</html>

