/*  HTML5 Boilerplate Reset  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }  				

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

html { overflow-y: scroll; }

ul, ol { margin: 0; list-style: none; }

small { font-size: 85%; }
strong { font-weight: bold; }
em { font-style: oblique; }

::-moz-selection{ background: #ddd; color: #000; text-shadow: none; }
::selection { background: #ddd; color: #000; text-shadow: none; } 

.clearfix:before, .clearfix:after, .row:after, .row:before { content: ""; display: table; }
.clearfix:after, .row:after { clear: both; }
.clearfix, .row { *zoom: 1; }

/* Grid System */

.row{max-width:1140px;margin:0 auto 1em;}.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol{margin-right:3.8%;float:left;min-height:1px;margin-bottom:1em;}.row .onecol{width:4.85%}.row .twocol{width:13.45%}.row .threecol{width:22.05%}.row .fourcol{width:30.75%}.row .fivecol{width:39.45%}.row .sixcol{width:48%}.row .sevencol{width:56.75%}.row .eightcol{width:65.4%}.row .ninecol{width:74.05%}.row .tencol{width:82.7%}.row .elevencol{width:91.35%}.row .twelvecol{width:100%;float:left}.last{margin-right:0}

.row.narrow{max-width: 700px;}

.onecol.right,.twocol.right,.threecol.right,.fourcol.right,.fivecol.right,.sixcol.right,.sevencol.right,.eightcol.right,.ninecol.right,.tencol.right,.elevencol.right{margin-left:3.8%;float:right;margin-right:0}.first{margin-left:0 !important;}


body {
	font-family: adobe-clean, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #848484;
	font-size: 16px;
	line-height: 1.375em;
	background: #e8e8e8;
}

a {
	color: #456cbc;
	text-decoration: none;
}

/*  Basic typography & Headings  */

h1, h2, h3, h4, h5 {
	font-weight: 300;
	margin: 0 0 .6em 0;
	color: #3c3c3c;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
	line-height: 28px;
}

h4 {
	font-size: 22px;
}

p, ul, ol, img {
	margin: 0 0 1em 0;
}

.intro {
	font-size: 20px;
	line-height: 1.4em;
	margin: 0 0 1.4em 0;
}

/*  Global Header ---------------------------------------------------------------- */

header {
	box-shadow: 0 2px 2px rgba(0,0,0,.11);
	background: #fff;
}

header .container {
	position: relative;
	padding: 12px 12px;
	max-width: 1140px;
	margin: 0 auto;
}

header h1 {
	float: left;
	font-size: 24px;
	font-weight: 400;
	margin: 3px 30px 0 0;
}

header h1 a, header li a {
	color: #000;
}

header ul#header_nav {
	float: left;
	font-size: 14px;
	margin: 0;
}

header li {
	float: left;
	margin: 0 28px 0 0;
}

header li a, footer li a {
	display: block;
	padding: 3px 7px;
}

header li a.active, footer li a.active {
	background: #e8e8e8;
	border-radius: 3px;
}

header h2 a {
	position: absolute;
	top: -1px;
	right: 12px;
	display: block;
	height: 62px;
	width: 38px;
	text-indent: -9999em;
	overflow: hidden;
	background: url(../img/adobe.gif) no-repeat;
	box-shadow: 0 2px 2px rgba(0,0,0,.35);
	z-index: 1000;
}

header h2 a:hover {
	top: 0;
}

header h2 a:active {
	top: -2px;
}


/*  Subheader ---------------------------------------------------------------- */

#subheader {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.35);
	padding: 50px 0 60px 0;
	position: relative;
}

#home #subheader {
	padding: 0;
}

#subheader .slides li {
	padding: 50px 0 60px 0;
}

#subheader a {
	color: #fff;
}

#subheader ul {
	margin: 0;
}

#subheader h2 {
	color: #fff;
	line-height: 1em;
	margin-bottom: .2em;
	font-weight: 400;
}

#subheader h3 {
	color: #fff;
	line-height: 1em;
}

#subheader p {
	font-size: 24px;
	line-height: 1.4em;
	margin: 0;
}

#subheader .container {
	position: relative;
	max-width: 1140px;
	padding: 0 32px;
	margin: 0 auto;
}

#subheader .container img {
	max-width: 100%;
}

#subheader .flexslider {
	position: relative;
}

#subheader .flexslider .flex-control-nav {
	position: absolute;
	bottom: 25px;
	margin: 0;
}

#subheader .webstandards {
	text-align: center;
}

/*  Slide Styles ---------------------------------------------------------------- */

	#slide_regions {
		background: #4e73c4 url(../img/grid_masked_dark.png) no-repeat center top;
	}
	
	#slide_shaders {
		background: #5c529a url(../img/grid_masked_dark.png) no-repeat center top; 
		background-image: url(../img/grid_masked_dark.png), -webkit-gradient(linear, center top, center bottom, from(#5c529a), to(#8560a8));
		background-image: url(../img/grid_masked_dark.png), -webkit-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), -moz-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), -o-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), -ms-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), linear-gradient(to bottom, #5c529a, #d5a9d0);
	}
	
	#slide_shaders img#hero {
		
		/*margin-top: 55px;*/
	}
	
	#slide_phonegap {
		
		background: #595c5d url(../img/grid_masked_dark.png) center top no-repeat; 
		background-image: url(../img/grid_masked_dark.png), -webkit-gradient(linear, center top, center bottom, from(#494c4d), to(#8560a8));
		background-image: url(../img/grid_masked_dark.png), -webkit-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), -moz-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), -o-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), -ms-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), linear-gradient(to bottom, #494c4d, #9a9fa0);
	}
	
	#slide_tools {
		
		background: #a63228 url(../img/grid_masked_dark.png) center top no-repeat; 
		background-image: url(../img/grid_masked_dark.png), -webkit-gradient(linear, center top, center bottom, from(#a73329), to(#8560a8));
		background-image: url(../img/grid_masked_dark.png), -webkit-linear-gradient(top, #a63228, #a73329);
		background-image: url(../img/grid_masked_dark.png), -moz-linear-gradient(top, #a63228, #a73329);
		background-image: url(../img/grid_masked_dark.png), -o-linear-gradient(top, #a63228, #a73329);
		background-image: url(../img/grid_masked_dark.png), -ms-linear-gradient(top, #a63228, #a73329);
		background-image: url(../img/grid_masked_dark.png), linear-gradient(to bottom, #a63228, #a73329);
	}
	
	
/*  Header Styles ---------------------------------------------------------------- */
	
	#webstandards #subheader {
		background: #6f518f center top no-repeat; 
		background-image: url(../img/grid_masked_dark.png), -webkit-gradient(linear, center top, center bottom, from(#6f518f), to(#8560a8));
		background-image: url(../img/grid_masked_dark.png), -webkit-linear-gradient(top, #6f518f, #8560a8);
		background-image: url(../img/grid_masked_dark.png), -moz-linear-gradient(top, #6f518f, #8560a8);
		background-image: url(../img/grid_masked_dark.png), -o-linear-gradient(top, #6f518f, #8560a8);
		background-image: url(../img/grid_masked_dark.png), -ms-linear-gradient(top, #6f518f, #8560a8);
		background-image: url(../img/grid_masked_dark.png), linear-gradient(to bottom, #6f518f, #8560a8);
	}
	
	#webstandardsshaders #subheader {
		background: #5c529a url(../img/grid_masked_dark.png) no-repeat center top; 
		background-image: url(../img/grid_masked_dark.png), -webkit-gradient(linear, center top, center bottom, from(#5c529a), to(#8560a8));
		background-image: url(../img/grid_masked_dark.png), -webkit-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), -moz-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), -o-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), -ms-linear-gradient(top, #5c529a, #d5a9d0);
		background-image: url(../img/grid_masked_dark.png), linear-gradient(to bottom, #5c529a, #d5a9d0);

	}
	
	#webstandardsshaders img#hero {
		/*margin-top: 48px;*/
	}
	
	#webstandards a {
		color: #8560a8;
	}
	
	#webstandards header a {
		color: #000;
	}
	
	#webstandardsshaders a {
		color: #8560a8;
	}
	
	#webstandardsshaders header a {
		color: #000;
	}
	
	#toolsandservices #subheader {
		background: #4d74b3 center top no-repeat; 
		background-image: url(../img/grid_masked_dark.png), -webkit-gradient(linear, center top, center bottom, from(#4d74b3), to(#5784cb));
		background-image: url(../img/grid_masked_dark.png), -webkit-linear-gradient(top, #4d74b3, #5784cb);
		background-image: url(../img/grid_masked_dark.png), -moz-linear-gradient(top, #4d74b3, #5784cb);
		background-image: url(../img/grid_masked_dark.png), -o-linear-gradient(top, #4d74b3, #5784cb);
		background-image: url(../img/grid_masked_dark.png), -ms-linear-gradient(top, #4d74b3, #5784cb);
		background-image: url(../img/grid_masked_dark.png), linear-gradient(to bottom, #4d74b3, #5784cb);
	}
	
	#toolsandservices #subheader .container img#hero {
		position: absolute;
		right: 24px;
		top: -46px;
	}
	
	#toolsandservices a {
		color: #456cbc;
	}
	#toolsandservices header a {
		color: #000;
	}
	
	#opensource #subheader {
		background: #384042 center top no-repeat; 
		background-image: url(../img/grid_masked_light.png), -webkit-gradient(linear, center top, center bottom, from(#384042), to(#46494c));
		background-image: url(../img/grid_masked_light.png), -webkit-linear-gradient(top, #384042, #46494c);
		background-image: url(../img/grid_masked_light.png), -moz-linear-gradient(top, #384042, #46494c);
		background-image: url(../img/grid_masked_light.png), -o-linear-gradient(top, #384042, #46494c);
		background-image: url(../img/grid_masked_light.png), -ms-linear-gradient(top, #384042, #46494c);
		background-image: url(../img/grid_masked_light.png), linear-gradient(to bottom, #384042, #46494c);
	}
	
	#shadow #subheader {
		background: #4a3824 url(../img/header_shadow_back.jpg) top center no-repeat;
		text-align: center;
	}
	
	#shadow #subheader img {
		margin-bottom: 3em;
	}
	
	#shadow .btn {
		font-size: 26px;
		background: #B75E1F center top no-repeat; 
		background-image: linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -o-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -moz-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -webkit-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -ms-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #B75E1F),color-stop(1, #CA6E30));
		border-color: #aa5313;
	}
	
	#phonegap #subheader {
		padding: 50px 0 30px 0;
		text-align: center;
		background: #595c5d url(../img/grid_masked_dark.png) center top no-repeat;  
		background-image: url(../img/grid_masked_dark.png), -webkit-gradient(linear, center top, center bottom, from(#494c4d), to(#8560a8));
		background-image: url(../img/grid_masked_dark.png), -webkit-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), -moz-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), -o-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), -ms-linear-gradient(top, #494c4d, #9a9fa0);
		background-image: url(../img/grid_masked_dark.png), linear-gradient(to bottom, #494c4d, #9a9fa0);
	}
	#phonegap #subheader img {
		margin-bottom: 1em;
	}
	
	
	#phonegap .btn {
		line-height: 50px;
		font-size: 26px;
		background: #B75E1F center top no-repeat; 
		background-image: linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -o-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -moz-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -webkit-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -ms-linear-gradient(bottom, #B75E1F 0%, #CA6E30 100%);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #B75E1F),color-stop(1, #CA6E30));
		border-color: #aa5313;
	}
	
	
/* Features -------------------------------------------------------------------- */


.feature {
	padding-top: 4em;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom:4em;
}

.feature .row {
	margin-bottom: 0;
	padding:0px;
}

.sixcol.feature_image {
	margin-bottom: 0;
}

.feature_image img {
	margin-bottom: -1px;
}

.feature_text {
	padding: 2em 0 0 0;
}
.feature {
	background-image: linear-gradient(bottom, #FFFFFF 27%, #EEEEEE 0%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 27%, #EEEEEE 0%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 27%, #EEEEEE 0%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 27%, #EEEEEE 0%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 27%, #EEEEEE 0%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.27, #FFFFFF),color-stop(0, #EEEEEE));
	border-bottom: 1px solid #e7e7e7;
}

.twitter_btn {
	background: url(../img/twitter_btn.png) no-repeat;
}

.facebook_btn {
	background: url(../img/facebook_btn.png) no-repeat;
}

.forums_btn {
	background: url(../img/forums_btn.png) no-repeat;
}


.service {
	display: inline-block;
	height: 25px;
	padding: 2px 9px 0 33px;
	margin: 0 0 4px 0;
}
	

#main {
	padding: 60px 24px;
	margin: 0 auto;
	background: #fff;
}

#main a {
	font-weight: 400;
}

.date {
	color: #252525;
	padding: 0 9px 0 0;
}
#where li{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 0;
	padding-right: 0;
}

#blogs li {
	padding-left: 16px;
}

#blogs li a {
	display: inline-block;
	margin-left: -16px;
	padding: 3px 0;
}

#blogs li a .date {
	border-radius: 3px;
	padding: 3px 7px;
	margin: 0 2px 0 -7px;
	display: inline-block;
}

#blogs li.w3c a .date {
	background: url(../img/w3c.gif) no-repeat -9999px 6px;
}

#blogs li.webkit a .date {
	background: url(../img/webkit.png) no-repeat -9999px 6px;
}

#blogs li.typekit a .date {
	background: url(../img/typekit.png) no-repeat -9999px 6px;
}

#blogs li.adobe a .date {
	background: url(../img/adobe.png) no-repeat -9999px 6px;
}

#blogs li.phonegap a .date {
	background: url(../img/phonegap.png) no-repeat -9999px 6px;
}

#blogs li a:hover .date {
	background-color: #e8e8e8;
	background-position: 7px 6px;
	padding: 3px 7px 3px 30px;
	margin-left: -30px;
}

#download {	 	
	text-align: center;	 	
}

footer {
	padding-top: 30px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	color: #929292;
}

footer .container {
	max-width: 1140px;
	margin: 0 auto;
}

footer #copyright {
	float: left;
}
footer #legal {
	font-size: 12px;
	line-height: 12px;
	float: left;
}

footer ul#footer_nav {
	float: right;
	width: 100%;
	margin: 0 0 2em 0;
}

footer ul#footer_nav li {
	float: right;
	margin: 0 0 0 28px;
}

footer ul#footer_nav li a {
	color: #6d6d6d;
}

footer ul#footer_nav li a.active {
	background: #bcbcbc;
	color: #fff;
	font-weight: 400;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.19);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.19);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.19);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}

#section_nav {
	font-size: 20px;
}

#section_nav a {
	font-weight: 300;
}

#section_nav ul ul {
	margin: .5em 0 1em 1em;
	font-size: 16px;
}

#section_nav ul ul a {
	color: #848484;
}

.btn {
	border: 1px solid #335dab;
	border-radius: 5px;
	background: #5075c6 center top no-repeat; 
	background-image: -webkit-gradient(linear, center top, center bottom, from(#5075c6), to(#3b63b2));
	background-image: -webkit-linear-gradient(top, #5075c6, #3b63b2);
	background-image: -moz-linear-gradient(top, #5075c6, #3b63b2);
	background-image: -o-linear-gradient(top, #5075c6, #3b63b2);
	background-image: -ms-linear-gradient(top, #5075c6, #3b63b2);
	background-image: linear-gradient(to bottom, #5075c6, #3b63b2);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.27);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.27);
	box-shadow: 0 1px 0 rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.27);
	display: inline-block;
	color: #fff;
	font-size: 18px;
	text-shadow: 0 1px 0px rgba(0,0,0,.8);
	padding: 0 1em;
}

.btn:hover {
	background: #557dd4 center top no-repeat; 
	background-image: -webkit-gradient(linear, center top, center bottom, from(#557dd4), to(#3f6abf));
	background-image: -webkit-linear-gradient(top, #557dd4, #3f6abf);
	background-image: -moz-linear-gradient(top, #557dd4, #3f6abf);
	background-image: -o-linear-gradient(top, #557dd4, #3f6abf);
	background-image: -ms-linear-gradient(top, #557dd4, #3f6abf);
	background-image: linear-gradient(to bottom, #557dd4, #3f6abf);
}

.btn:active {
	background: #3f6abf center top no-repeat;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#3f6abf), to(#557dd4));
	background-image: -webkit-linear-gradient(top, #3f6abf, #557dd4);
	background-image: -moz-linear-gradient(top, #3f6abf, #557dd4);
	background-image: -o-linear-gradient(top, #3f6abf, #557dd4);
	background-image: -ms-linear-gradient(top, #3f6abf, #557dd4);
	background-image: linear-gradient(to bottom, #3f6abf, #557dd4);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.27);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.27);
	box-shadow: 0 1px 0 rgba(255,255,255,0.27));
	color: #fff;
}

@media screen and (max-width: 775px) {
	
	.sixcol.item {
		clear: both;
		width: 100%;
	}
	.feature_text {
		padding: 0;	 	
	}
	
}

@media screen and (max-width: 620px) {

	.row .row .onecol, .row .row .twocol, .row .row .threecol, .row .row .fourcol, .row .row .fivecol, .row .row .sixcol, .row .row .sevencol, .row .row .eightcol, .row .row .ninecol, .row .row .tencol, .row .row .elevencol, .row .row .twelvecol {
		float: left;
		margin-right: 3.8%;
		padding: 0;
		margin-bottom: 1.5em;
	}

	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 1em;
		padding-left: 32px;
		padding-right: 32px;
	}
	
	header {
		text-align: center;
	}
	
	header h1 {
		float: none;
		margin: 3px 0 1em 0;
	}
	
	header h2 a {
		top: -16px;
	}
	
	header h2 a:hover {
		top: -14px;
	}
	
	header ul#header_nav, footer ul#footer_nav {
		float: none;
		font-size: 18px;
	}
	
	header li, footer ul#footer_nav li {
		float: none;
		margin: 0 0 .5em 0;
	}
	
	header li a, footer ul#footer_nav li a {
		display: block;
		padding: 10px 7px;
		color: #fff;
		border-radius: 3px;
		font-weight: 400;
	}
	
	header li a, footer ul#footer_nav li a {
		color: #717171;
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#d3d3d3));
		background-image: -webkit-linear-gradient(top, #e0e0e0, #d3d3d3);
		background-image: -moz-linear-gradient(top, #e0e0e0, #d3d3d3);
		background-image: -o-linear-gradient(top, #e0e0e0, #d3d3d3);
		background-image: -ms-linear-gradient(top, #e0e0e0, #d3d3d3);
		background-image: linear-gradient(to bottom, #e0e0e0, #d3d3d3);
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.23), inset 0 1px 0 rgba(255,255,255,0.27);
		-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.23), inset 0 1px 0 rgba(255,255,255,0.27);
		box-shadow: 0 1px 0 rgba(0,0,0,0.23), inset 0 1px 0 rgba(255,255,255,0.27);	
	}
	
	header li a.active, footer ul#footer_nav li a.active {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,.4);
		background-image: -webkit-gradient(linear, center top, center bottom, from(#afafaf), to(#bcbcbc));
		background-image: -webkit-linear-gradient(top, #afafaf, #bcbcbc);
		background-image: -moz-linear-gradient(top, #afafaf, #bcbcbc);
		background-image: -o-linear-gradient(top, #afafaf, #bcbcbc);
		background-image: -ms-linear-gradient(top, #afafaf, #bcbcbc);
		background-image: linear-gradient(to bottom, #afafaf, #bcbcbc);
		-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.19);
		-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.19);
		box-shadow: inset 0 1px 0 rgba(0,0,0,0.19);
	}	
	
	footer {
		text-align: center;
	}
	
	footer #copyright {
		float: none;
	}
	footer #legal {
		max-width: 100%;
		float: none;
	}
	
	#blogs li {
		margin-bottom: .25em;
	}
	
	#section_nav, img#hero {
		display: none;
	}

}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; text-align: center;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 90%; display: block; margin: 0 auto 25px auto;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; text-align: center;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}


/* Control Nav */
.flex-control-nav {width: 100%; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 25px; height: 25px; display: block; background: url(../img/control_btn.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -25px;}
.flex-control-nav li a.active {background-position: 0 -50px; cursor: default;}