body
{
	background-color: #FFFFFF;
	color:#1b1b71; 
	font-family:Tahoma, verdana, sans-serif; 
	font-size:0.65em; 
	text-align: left;
	padding: 0;
	border: 0;	
	margin: 0
}
input 
{
	font-family:Tahoma, verdana, sans-serif; 
	font-size: x-small;
	-wap-input-format: "*m"
}
#my_input {
    border-style:solid;
    border-width:1px;
    border-color: #bebebe;
    font-size: x-small;
	font-family:Tahoma, verdana, sans-serif; 
    color: #000000;
    font: normal
}
table.normal
{
	font-family:Tahoma, verdana, sans-serif; 	
	font-size: small;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left
}			
td.IMG
{
	font-size: small;
	text-align: center;
	background-color: #FFFFFF;
	color:#ffffff; 
	padding: 0;
	margin: 0;
	font-family:Tahoma, verdana, sans-serif; 
	font-weight: bold
}
td
{
		font-family:Tahoma, verdana, sans-serif; 
		color:#1b1b71; 
		font-size: small;
		padding: 0
}
img
{
	padding: 0
}
a
{
	font-size: small;
	text-decoration:none;
	color: #FFFFFF
}
a.imagen
{
	font-size: small;
	text-decoration:none;
	color: #FFFFFF
}
a:visited 
{
	font-size: small;
	text-decoration:none;
	color: #FFFFFF
}
a.IMG
{
	color: #FFFFFF;
	text-decoration:none;
	font-size: small
}
a.IMG2
{
	color: #FFFFFF;
	text-decoration:none;
	font-weight: bold;
	font-size: small
}
hr
{
	margin-bottom:4px; 
	background: #8585b9; 
	height:0.1em; 
	border:none       
}
select 
{
 	font-size: x-small;
	color: black
}
#hd2 {
    background: #191978;
    border-top: 1px solid #5ca8f6;
    overflow-y: hidden;
    overflow-x: visible;
    clear: left
}
#hd{background: #191978; border-top:1px solid #5ca8f6; padding:5px 6px 0 6px; overflow-y:hidden; overflow-x:visible; clear: left} 

#hd img a{margin: 0; padding: 0; border: 0}

#hd img{border:none; vertical-align:top} 

#nv{ background:#cde4fd; padding:2px 0; clear: both; overflow: hidden;} 

#nv img {
    border: none
}

input.caja
{
	text-align: center;
							-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
							-webkit-box-shadow: inset 0px 1px 0px 0px 
							white;
							box-shadow: inset 0px 1px 0px 0px 
							white;
							background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, 
							#D7E0DF), color-stop(1, 
							#EEF2F1) );
							background: -moz-linear-gradient( center top, 
							#D7E0DF 5%, 
							#EEF2F1 100% );
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7e0df', endColorstr='#eef2f1');
							background-color:
							#D7E0DF;
							-moz-border-radius: 10px;
							-webkit-border-radius: 10px;
							border-radius: 10px;
							border: 1px solid 
							#D7E0DF;
							display: inline-block;
							color: #558295;
							font-family: arial;
							font-size: 18px;
							font-weight: bold;
							padding: 2% 0;
							text-decoration: none;
							text-shadow: 2px 0px 3px white;
							width: 98%;
							margin:0 auto;
} 


#ft
{
	text-align:center
} 

#ft hr
{
	margin-bottom:4px; 
	background: #8585b9; 
	height:0.1em; 
	border:none
}
.LongCell { text-align:center;}
.LongCell a{
							text-align: center;
							-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
							-webkit-box-shadow: inset 0px 1px 0px 0px 
							white;
							box-shadow: inset 0px 1px 0px 0px 
							white;
							background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, 
							#D7E0DF), color-stop(1, 
							#EEF2F1) );
							background: -moz-linear-gradient( center top, 
							#D7E0DF 5%, 
							#EEF2F1 100% );
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7e0df', endColorstr='#eef2f1');
							background-color:
							#D7E0DF;
							-moz-border-radius: 10px;
							-webkit-border-radius: 10px;
							border-radius: 10px;
							border: 1px solid 
							#D7E0DF;
							display: inline-block;
							color: #558295;
							font-family: arial;
							font-size: 18px;
							font-weight: bold;
							padding: 2% 0;
							text-decoration: none;
							text-shadow: 2px 0px 3px white;
							width: 98%;
							margin:0 auto;
							
							}
.LongCell a:hover {
							background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eef2f1), color-stop(1, #d7e0df) );
							background:-moz-linear-gradient( center top, #eef2f1 5%, #d7e0df 100% );
							filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef2f1', endColorstr='#d7e0df');
							background-color:#eef2f1;
							}
.LongCell a:active {
							position:relative;
							top:1px;
							}