<?xml version="1.0" encoding="UTF-8" ?>
<%@ Register tagprefix="xhtml" Namespace="web.Tools" Assembly="web" %>
<%@ Page language="c#" Codebehind="catalog.aspx.cs" AutoEventWireup="false" Inherits="web.catalog" %>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
	<head>
		<title>
			<%=title%>
		</title>
		<link rel="stylesheet" href="<%=css%>" type="text/css" />
		<meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
<style type="text/css">
.Longcell { text-align:center;}
.Longcell a{
text-align: center;
-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow: inset 0px 1px 0px 0px 
white;
box-shadow: inset 0px 1px 0px 0px 
white;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, 
#D7E0DF), color-stop(1, 
#EEF2F1) );
background: -moz-linear-gradient( center top, 
#D7E0DF 5%, 
#EEF2F1 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7e0df', endColorstr='#eef2f1');
background-color:
#D7E0DF;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid 
#D7E0DF;
display: inline-block;
color: #558295;
font-family: arial;
font-size: 18px;
font-weight: bold;
padding: 2% 0;
text-decoration: none;
text-shadow: 2px 0px 3px white;
width: 98%;
margin:0 auto;
}.Longcell a:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eef2f1), color-stop(1, #d7e0df) );
background:-moz-linear-gradient( center top, #eef2f1 5%, #d7e0df 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef2f1', endColorstr='#d7e0df');
background-color:#eef2f1;
}.Longcell a:active {
position:relative;
top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>
	</head>
	<script type="text/javascript">
		function link(Url) {
			document.location.href = Url;
		} 
	</script>
	<body>
		
		<Xhtml:XhtmlTable id="tbHeader" Runat="server" CssClass="normal" />
		
		<% if (showMarquee) { %>
				<marquee><%=textMarquee%></marquee>
			<% } %>
			<Xhtml:XhtmlTable id="tbTitle" Runat="server" CssClass="normal" />
			<Xhtml:XhtmlTable id="tbPreviews" Runat="server" CssClass="normal" cellspacing="2" cellpadding="2">
				<Xhtml:XhtmlTableRow id="rowPreviews" Runat="server" />
				<Xhtml:XhtmlTableRow id="rowPreviews2" Runat="server" />
			</Xhtml:XhtmlTable>
			<Xhtml:XhtmlTable id="tbCatalog" Runat="server" CssClass="normal" cellspacing="2" cellpadding="2" />
			<Xhtml:XhtmlTable id="tbPages" Runat="server" CssClass="normal" />
			<!--<Xhtml:XhtmlTable id="tbLinks" Runat="server" CssClass="normal" />-->
			<Xhtml:XhtmlTable id="tbSearch" Runat="server" CssClass="normal" />
	</body>
</html>
