<?xml version="1.0" encoding="UTF-8" ?>
<%@ Register tagprefix="xhtml" Namespace="web.Tools" Assembly="web" %>
<%@ Page language="c#" Codebehind="gallery.aspx.cs" AutoEventWireup="false" Inherits="web.gallery" %>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
  <head>
         <title>Im&aacute;genes y Fondos</title>
         <link rel="stylesheet" href="./xhtml.css" type="text/css" />
         <meta forua="true" http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, proxy-revalidate, s-maxage=0" />
  </head>
         <body>
                    <a id="start" name="start" />
					 <Xhtml:XhtmlTable id="tbHeader" Runat="server" CssClass="normal" />
                     <Xhtml:XhtmlTable id="tbDescription" Runat="server" CssClass="normal">
						<Xhtml:XhtmlTableRow id="rowTitle" Runat="server" />
						<Xhtml:XhtmlTableRow id="rowError" Runat="server" />
						<Xhtml:XhtmlTableRow id="rowError2" Runat="server" />
                    </Xhtml:XhtmlTable>   
					<hr />
                   <table width="100%">
						<tr>
							<td align="center"><a href="./default.aspx" style="color: #696969">Im&aacute;genes y Fondos</a></td>
						</tr>
					</table>                 
          </body>

</html>
