body
{
	background-color: #ffffff;
	color: #FF9600;
	font-family: verdana;
	font-size: x-small;
	text-align: left;
	padding: 0;
	border: 0;	
	margin: 0
}
input {
    border-style:solid;
    border-width:1px;
    border-color: #bebebe;
    font-size: x-small;
    font-family: verdana;
    color: #000000;
    font: normal
}
table.normal
{
	font-size: x-small;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left
}			
td.IMG
{
	font-size: x-small;
	text-align: center;
	background-color: #000000;
	color: #FF9600;
	padding: 0;
	margin: 0;
	font-family: verdana;
	font-weight: bold
}
td
{
	padding: 0
}
img
{
	padding: 0
}
a
{
	font-size: x-small;
	color: #FF9600
}
a.imagen
{
	font-size: x-small;
	color: #FF9600
}
a:visited 
{
	font-size: x-small;
	color: #FF9600
}
a.IMG
{
	color: #FF9600;
	font-size: x-small
}
a.IMG2
{
	color: #FF9600;
	font-weight: bold;
	font-size: x-small
}
hr
{
          color: #FF9600;
          height: 1px          
}
select 
{
 	font-size: x-small;
	color: #FF9600
}